<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="container wrapper">
        {{ content }}
      </div>
    </main>

    {% comment %} If we show disqus and we're on a post, hide footer. {% endcomment %}
    {%- if site.disqus.shortname and page.layout != "post" -%}
      {%- include footer.html -%}
    {%- endif -%}

  </body>

</html>
