---
layout: default
---

<div class="home">
  <article role="article">
    <section role="document">
      <img class="profile-photo" src="{{'/assets/img/me.jpeg'}}" role="img">
      <div class="about">
        <p>Hi, I'm Andrei, a Romanian programmer living in Bucharest.
        I'm interested in open source, c(pp), python, linux, go, rock climbing and chess.</p>

        <p>See <a href="{{ "/resume/resume.pdf" }}">resume</a> for work
        experience.</p>
      </div>
    </section>

    <section role="document">
      <h3>Selected Open Source Contributions</h3>
      <ul>
        <li>[Python] <a href="https://github.com/scrapy/scrapy/pull/2864">Scrapy fix for py3 compatibility</a></li>
        <li>[Python] <a href="https://github.com/UpbeatPR/django-cache-utils/pull/1">Django cache utils api improvement</a></li>
        <li>[C] <a href="http://rb.freedroid.org/users/andreip/">4 contributions for Freedroid RPG</a> but only one was <a href="http://rb.freedroid.org/r/1024/diff/">accepted</a>; <a href="http://rb.freedroid.org/r/1077/">this rejected one</a> fixed a memory problem and was fun to track, but didn't get accepted since it was a hack.</li>
        <li>[Python] <a
        href="https://github.com/elastic/elasticsearch-dsl-py/pull/778">ElasticSearch-dsl-py small feature</a></li>
        <li>[Python] <a href="https://github.com/tweepy/tweepy/pull/446">Tweepy bug fix</a></li>
        <li>[JS, grunt] <a href="https://github.com/Atinux/schema-inspector/pull/11">Schema inspector, fixed a bower install bug</a>
        </li>
        <li>[ruby] <a href="https://github.com/susestudio/ssc/pull/1">SUSE Studio CLI client feature addition</a>
        </li>
      </ul>
    </section>

    <section role="document">
      <h3>Selected Open Source Projects</h3>
      <ul>
        <li>[Python] <a href="https://github.com/andreip/twitter-authorities">Twitter Authorities finder for different topics</a>; also see <a href="https://github.com/andreip/twitter-authorities/raw/master/paper/findingtopicalauthoritiesontwitter.pdf">link to paper</a></li>
        <li>[C] <a href="https://github.com/andreip/huffman-tar">huffman trees compression tool</a></li>
        <li>[C] <a href="https://github.com/andreip/NNS">k-d tree</a></li>
        <li>[Android, Java] <a href="https://github.com/aismail/AndroAR">Augmented Reality application GUI</a></li>
        <li>[JS] <a href="https://github.com/uberVU/mozaic/commit/c2a0e723abfa9abf33ddc3b8575e8bdac4e0b70f">mozaicJS pub-sub framework</a>; work done in private repo and published periodically</li>
        <li>[Prolog] <a href="https://github.com/andreip/AI-MAS">AI & MAS summer internship project</a></li>
      </ul>

    <section role="document">
      <h3>Selected Articles & Talks</h3>
      <ul>
        <li>[C] <a href="http://techblog.rosedu.org/gdb-a-basic-workflow.html">GDB intro tutorial</a></li>
        <li>[Git] <a href="http://techblog.rosedu.org/git-speeding-workflow.html">Git aliases tutorial</a></li>
        <li>Teaching high school teachers python so they can afterwards teach it in class; a ROSEdu event; <a href="http://py4school.rosedu.org/">more info in Romanian here</a></li>
        <li>Git presentation at ROSEdu CDL course, 2013 spring edition; <a href="http://cdl.rosedu.org/editions/spring_2013/#details_course2">slides</a></li>
        <li>Flask presentation at ROSEdu CDL course, 2013 autumn edition; <a href="http://cdl.rosedu.org/editions/unibuc_2013/#details_course3">slides</a></li>
      </ul>
  </article>
</div>
